<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/taskmanager.css' %}">
</head>
<body>
    <header id="header">
        <div id="search_zone">
            <p onclick="location.href='{% url 'index' %}'">Task Manager {{ current_user.username }}</p>
            <input type="text" placeholder="Rechercher">
        </div>
        <div id="param_zone">
            <button id="logout" onclick="location.href='{% url 'logout' %}'">Déconnexion</button>
            <div id="info" class="picto"></div>
            <div id="gear" class="picto"></div>
        </div>
    </header>

    <div id="tasks">
        <section class="tasks">
            <p class="task-title">Pas commencées</p>
            {% if tasks_not_started %}
                {% for task in tasks_not_started %}
                    <article class="task" onclick="location.href='{% url 'update_task' task.id %}'">
                        <div>
                            <p>{{ task.customer }}</p>
                            <p>{{ task.startDate }}</p>
                        </div>
                        <div>
                            <p>{{ task.title }}</p>
                            {% if task.endDate.date < today  %}
                                <img class="picto" src="{% static 'mainapp/images/attention.png' %}">
                            {% endif %}
                        </div>
                    </article>
                {% endfor %}
            {% endif %}
        </section>

        <span class="space"></span>

        <section class="tasks">
            <p class="task-title">En cours</p>
            {% if tasks_started %}
                {% for task in tasks_started %}
                    <article class="task" onclick="location.href='{% url 'update_task' task.id %}'">
                        <div>
                            <p>{{ task.customer }}</p>
                            <p>{{ task.startDate }}</p>
                        </div>
                        <div>
                        <p>{{ task.title }}</p>
                            {% if task.endDate.date < today  %}
                                <img class="picto" src="{% static 'mainapp/images/warning.png' %}">
                            {% endif %}
                        </div>
                    </article>
                {% endfor %}
            {% endif %}
        </section>

        <span class="space"></span>

        <section class="tasks">
            <p class="task-title">Terminées</p>
            {% if tasks_finished %}
                {% for task in tasks_finished %}
                    <article class="task" onclick="location.href='{% url 'update_task' task.id %}'">
                        <div>
                            <p>{{ task.customer }}</p>
                            <p>{{ task.startDate }}</p>
                        </div>
                        <p>{{ task.title }}</p>
                    </article>
                {% endfor %}
            {% endif %}
        </section>
    </div>
</body>
</html>