<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/update.css' %}">
</head>
<body>
    <div id="title">
        <h1>{{ customer.name }} | {{ customer.profession }}</h1>
    </div>
    <div id="main">
        <div id="customer">
            <h2>Informations client :</h2>
            <p>{{ customer.name }}</p>
            <p>{{ customer.email }}</p>
            <p>{{ customer.phone }}</p>
            <h2>Lieu:</h2>
            <p>{{ task.location }}</p>
        </div>
        <div id="task">
            <h2>Tâche :</h2>
            <p>{{ task.description }}</p>
            <p>Demandée le {{ task.startDate }}</p>
            <p>À finir avant le {{ task.endDate }}</p>

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Enregistrer">
                <input type="button" value="annuler" onclick="location.href='{% url 'taskmanager'%}'">
            </form>
        </div>
    </div>
</body>
</html>