<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/update.css' %}">
</head>
<body>
    <form>
        <div id="main">
            <div id="left">
                <h1>{{ task.client }} | {{ task.title }}</h1>
                <p>Description :</p>
                <div id="description">{{ task.description }}</div>
                <p>Lieu :</p>
                <div id="location">{{ task.location }}</div>
                <p>Notes :</p>
                <form action="/action_page.php" id="usrform">
                </form>
                <textarea id="note" name="comment" form="usrform">{{ task.note }}</textarea>
                <div id="buttons">
                    <input class="btn" type="button" value="Confirmer">
                    <input class="btn" type="button" value="Annuler" onclick="location.href='{% url 'taskmanager' %}'">
                </div>
            </div>
            <div id="right">
                <div id="info">
                    <p>{{ client.name }}</p>
                    <p>{{ client.profession }}</p>
                    <p>{{ client.email }}</p>
                    <p>{{ client.phone }}</p>
                </div>
                <p id="planif">Planification :</p>
                <div id="date-picker">
                    <label for="start">Du :</label>
                    <input type="date" id="start" name="trip-start">

                    <label id="labend" for="end">Au :</label>
                    <input type="date" id="end" name="trip-end">
                </div>
                <p id="status">Status :</p>
                <select name="status" class="combo_status">
                    <option value="not_started">Pas commencée</option>
                    <option value="started">En cours</option>
                    <option value="finished">Terminée</option>
                </select>
            </div>
        </div>
    </form>
</body>
</html>